@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.view-products:hover > i {
  transform: translateX(5px);
  transition: all;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
